.main{
    &__content{
        &-box{
            width: 100%;
            border-radius: 100px;
            background: $white;
            height: 50px;
            padding: 15px 20px;
            input{
                height: 100%;
                width: 100%;
                max-width: 230px;
                outline: 0;
                border: 0;
            }
            & label{
                margin-right: 10px;
            }
            & .adults{
                cursor: pointer;
            }
        }
        &-travel{
            padding-top: 150px;
            padding-bottom: 78px;
            svg{
                max-width: 100%;
            }
        }
        &-btn{
            background: $secondary;
            width: 370px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            border-radius: 100px;
            color: $white;
            margin-top: 80px;
            margin-bottom: 140px;
        }
        &-text{
            font-weight: 500;
            font-size: 16px;
            color: $white;
            padding-bottom: 80px;
        }
    }
    &__slider{
        padding: 70px 0;
        width: 100%;
        .slick-prev{
            left: 25px;
            z-index: 30;
        }
        .slick-next{
            right: 25px;
            z-index: 30;
        }
        .slick-arrow{
            width: auto;
            height: auto;
        }
        & .city{
            width: 360px;
            height: 240px;
            position: relative;
            margin-right: 30px;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            & .title{
                font-weight: bold;
                font-size: 26px;
            }
            & .count{
                font-weight: normal;
                font-size: 14px;
                position: absolute;
                left: 50%;
                bottom: 30px;
                transform: translateX(-50%);
            }
            & img{
                position: absolute;
                z-index: -1;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
    }
    &__offer{
        & i{
            color: #FFDA2D;
            font-size: 24px;
            margin-right: 15px;
        }
        font-weight: 300;
        font-size: 34px;
        padding-bottom: 70px;
        &-block{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
.high-index{
    z-index: 10;
}
