@media (max-width:1200px) {
    .nav{
        &__links{
            &-item{
                padding-left: 20px;
            }
        }
    }
    .other__block .item{
        height: 300px;
        width: 460px;
        padding: 20px;
    }
    .footer .phone{
        font-size: 24px;
    }
}
@media (max-width:991px) {
    .information {
        padding: 40px 20px;
        &__title{
            font-size: 20px;
            line-height: 27px;
        }
        & .close{
            top: 15px;
            right: 15px;
        }
        &__options{
            .facilities__info{
                font-size: 13px;
            }
            .separate{
                margin-left: 0;
                margin-top: 10px;
            }
        }
        &__images {
        display: flex;
            .main{
                display: none;
                img{
                    max-width: 150px;
                }
            }
            & .bottom {
                & img {
                    max-width: 150px;
                }
            }
        }

    }
    .daterangepicker .drp-calendar.right{
        display: none;
    }
    .daterangepicker .drp-calendar.left tr:nth-child(1) th {
        text-align: center;
    }
    .daterangepicker{
        margin-top: 20px;
    }
    .daterangepicker .drp-calendar {
        width: 100%;
    }
    .daterangepicker .calendar-table td{
        width: 46px;
        height: 46px;
        font-size: 16px;
        line-height: 22px;
    }
    .daterangepicker .calendar-table th{
        font-size: 12px;
    }
    .daterangepicker .calendar-table thead tr:nth-child(1) th{
        height: 60px;
    }
    .daterangepicker.show-calendar .drp-buttons {
        position: relative;
        top: unset;
        right: unset;
        border: none;
        text-align: center;
    }
    .search , .nav , .nav-main{
        display: none;
    }
    .main__content{
        &-box{
            font-size: 15px;
            &:first-child{
                border-radius: 0 0 0 0;
            }
        }
        &-btn{
            width: 100%;
            max-width: 320px;
            height: 46px;
            margin-top: 20px;
            margin-bottom: 60px;
            line-height: 46px;
        }
        &-text{
            display: none;
        }
        &-travel{
            padding-top: 60px;
            padding-bottom: 30px;
        }
    }
    .main__offer{
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .main__slider {
        display: none;
        .city{
            margin-right: 0;
        }
        //margin-left: 10px;
    }
    .nav-mobile{
        background: $primary;
        height: 70px;
        & .logo{
            padding: 0 20px;
        }
        &-blocks{
            height: 100%;
            & .block{
                height: 70px;
                line-height: 70px;
                width: 50px;
                text-align: center;
                & .links{
                    display: inline-block;
                    color: $white;
                    height: 70px;
                    width: 100%;
                }
            }
        }
        &-blocks .active{
            background: $secondary;
        }
    }
    .info{
        padding: 20px 0;
        & h2{
            font-size: 30px;
            line-height: 41px;
        }
    }
    .filter__button{
        height: 46px;
        width: 46px;
        .text{
            display: none;
        }
    }
    .filter-padding{
        padding-top: 0;
    }
    .menu{
        height: 50px;
        padding-top: 10px;
        overflow: hidden;
        transition: .2s all ease-out;
        a{
            width: 100%;
            &:first-child{
                position: relative;
                pointer-events: none;
                &::before{
                    content: '';
                    width: 8px;
                    height: 4px;
                    position: absolute;
                    background: url("/images/mobile-arrow.svg");
                    transform: rotate(180deg);
                    transition: .2s all ease-out;
                    right: 0;
                }
            }
            &::after{display: none}
        }
        &::after{
            bottom: auto;
            top: 0;
        }
        &.open{
            height: auto;
            a:first-child::before{
                transform: rotate(0);
            }
        }
    }
    .review {
        padding: 0 0 20px;
        &-mobile {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: #F1F1F1 solid 1px;
            padding-top: 20px;

            & .description {
                font-size: 12px;
                max-width: 190px;
                padding-top: 0;
                padding-left: 10px;
            }

            & .rating-number {
                font-size: 28px;
            }
        }
    }
    .mobile-slider{
        width: 100%;
        margin-top: 20px;
        & img{
            max-width: 100%;
        }
        & .slick-dots{
            bottom: -35px;
        }
    }
    .hidden-block{
        display: none !important;
    }
    .mobile-about{
        &__title{
            color: $primary;
            font-size: 18px;
        }
        &__description{
            padding-top: 20px;
            font-size: 15px;
            line-height: 180%;
            color: #444444;
        }
    }
    .room{
        height: auto;
        & .offer__left{
            width: 100%;
            padding: 15px 0;
            &-input{
                flex: 1;
            }
        }
        & .offer__right {
            width: 100%;
            padding: 15px 0;
            &::before{
                left: -600px;
            }
            .price{
                font-size: 18px;
            }
            .book button{
                width: 180px;
            }
        }
    }
    .mobile-reservation{
        font-size: 12px;
    }
    .available{
        margin-top: 0;
        .col-md-12{
            padding-left: 0;
            padding-right: 0;
        }
        &__room{
            margin-top: 0;
            flex-direction: column;
            & .photo{
                max-width: none;
                height: 240px;
                order: 2;
                position: relative;
                img{
                    height: 240px;
                    object-fit: cover;
                }
            }
            & .name{
                max-width: none;
                padding: 20px 40px 20px 20px;
                flex: 1;
                order:1;
                box-shadow: none;
                &-info{
                    top: 50%;
                    right: 20px;
                    transform: translateY(-50%);
                    & svg{
                        vertical-align: middle;
                    }
                }
            }
            .box{
                order:3;
                flex-direction: row;
                box-shadow: none;
                border-bottom: 1px solid #F5F5F5;
                padding: 20px;
                background: $white;
                & .sale{
                    display: none;
                }
                & .icon{
                    & svg{
                        vertical-align: middle;
                    }
                }
                & .top{
                    display: flex;
                    align-items: center;
                    & .naming{
                        padding-left: 10px;
                    }
                }
                & .counter{
                    min-width: 100px;
                }
            }
        }
    }
    .facilities{
        &__box{
            width: 100%;
            margin-bottom: 10px;
        }
        & .top{
            flex-direction: column;
            align-items: flex-start !important;
            & .included{
                margin-left: 0;
                margin-top: 30px;
                margin-bottom: 10px;
            }
            & .separate{
                margin-left: 0;
            }
        }
    }

    .checkin{
        padding-top: 30px !important;
        flex-direction: column;
        &__box{
            width: 100%;
            margin-right: 0 !important;
            margin-bottom: 10px;
            margin-left: 0 !important;
            & .right{
                flex-direction: column !important;
                align-items: flex-end !important;
                line-height: 30px;
                .to{
                    padding-left: 0 !important;
                }
            }
        }
    }
    .required{
        flex-direction: column;
        &__item{
            max-width: none !important;
            margin-right: 0 !important;
            & .p{
                max-width: none !important;
            }
            & > .icon{
                display: none;
            }
            & .title{
                display: flex;
                align-items: center;
                & .icon{
                    padding-right: 10px;
                }
            }
        }
    }
    .main-title{
        font-size: 20px;
        line-height: 27px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .main-title-0{
        font-size: 20px;
        line-height: 27px;
    }
    .location{
        img{
            height: 360px;
            object-fit: cover;
        }
        &__address{
            background: $white;
            box-shadow: 10px 0px 50px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            width: 90%;
            display: flex;
            position: absolute;
            top: 20px;
            left: 50%;
            justify-content: space-between;
            align-items: center;
            text-align: left;
            line-height: 19px;
            padding: 20px;
            transform: translateX(-50%);
            & .left{
                color: $primary;
                font-weight: 600;
                font-size: 14px;
            }
            & .right{
                color: #444444;
                font-size: 13px;
                padding-left: 10px;
            }
        }
    }
    .feedback{
        &-mobile{
            text-align: left;
        }
        &-left{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 20px;
            & .country{
                font-size: 13px;
                padding-top: 0;
                padding-bottom: 0;
            }
            & .number{
                font-size: 26px;
            }
        }
    }
    .add{
        padding: 0;
        border-bottom: #1D428F solid 1px;
        & .photo {
            height: 90px;
            & img{
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
        & .h2{
            padding-top: 40px;
            padding-bottom: 30px;
            font-size: 18px;
            line-height: 25px;
        }
        & .button{
            width: 300px;
        }
        & .p{
            padding-top: 30px;
            padding-bottom: 40px;
            font-size: 15px;
            line-height: 160%;
        }
        & .order-fix-md-1{
            order: 1;
        }
        & .order-fix-md-2{
            order: 2;
        }
        & .order-fix-md-3{
            order: 3;
        }
        & .blue-block{
            padding-left: 0;
            padding-right: 0;
            text-align: center;
        }
    }
    .footer{
        background: $primary;
        padding-top: 40px;
        padding-bottom: 20px;
        &__about{
            padding-top: 40px;
        }
        &__payment{
            justify-content: space-between !important;
        }
        & .middle{
            padding-top: 40px;
            padding-bottom: 0;
            flex-direction: column;
            & .login{
                margin-right: 0;
                margin-bottom: 20px;
            }
            & .register{
                margin-bottom: 40px;
            }
        }
        &__terms{
            flex-direction: column;
            align-items: flex-start !important;
            & .copyright{
                padding-right: 0;
            }
        }
        &__logo{
            margin-bottom: 40px;
        }
        &__title{
            margin-bottom: 30px;
        }
        &__support{
            padding-top: 40px;
        }
    }
    .reservation__info{
        & > .left{
            flex-basis: 100%;
            & img{
                width: 100%;
                max-width: none;
            }
        }
        & > .right {
            flex-basis: 100%;
            & .address{
                display: flex;
                align-items: center;
            }
        }
    }
    .reservation__box{
        margin-top: 5px;
    }
    .md-hide{
        display: none;
    }
    .reservation__complete-md{
        display: flex;
    }
    .confirmation__main{
        min-height: auto;
        margin: 5px 0;
        background-size: cover;
        .h-100{
            height: auto;
        }
    }
    .confirmation{
        .left{
            padding-left: 15px;
            & img{
              margin-top: 60px;
            }
            .title{
                font-weight: normal;
                font-size: 24px;
                line-height: 150%;
                padding-top: 20px;
                text-align: center;
            }
        }
        .right{
            .title{
                font-weight: bold;
                font-size: 16px;
                line-height: 150%;
                text-align: center;
                padding-top: 20px;
                padding-bottom: 20px;
            }
            .description{
                text-align: center;
            }
            .print{
                padding-bottom: 60px;
            }
        }
    }
    .bookings{
        padding: 5px 0;
        &__item{
            margin-bottom: 0;
            overflow: hidden;
            .right{
                padding: 20px;
                min-height: auto;
                .title{
                    font-weight: 600;
                    font-size: 16px;
                    padding-top: 20px;
                }
                .rooms{
                    font-weight: 600;
                    font-size: 16px;
                    padding-bottom: 20px;
                }
                .city{
                    font-weight: normal;
                    font-size: 12px;
                }
                .persons{
                    font-weight: normal;
                    font-size: 12px;
                }
                .links{
                    padding-top: 10px;
                    font-size: 15px;
                    a{
                        margin-top: 10px;
                    }
                }
                .total{
                    font-size: 15px;
                }
                .middle{
                    position: relative;
                    &::after{
                        content: '';
                        display: inline-block;
                        position: absolute;
                        bottom: 0;
                        left: -50px;
                        width: 200%;
                        background: #EAEEF4;
                        height: 1px;
                    }
                }
            }
            .left{
                width: 100%;
                img{
                    width: 100%;
                    max-width: none;
                    max-height: 240px;
                }
            }
        }
    }
    .details{
        &-top{
            border-top-width: 5px;
            padding: 20px;
            .button{
                margin-top: 20px;
                min-width: auto;
                width: 100%;
                max-width: 320px;
            }
            .name{
                font-size: 18px;
                line-height: 160%;
            }
            .box .inner-text{
                font-size: 15px;
            }
        }
    }
    .change{
        padding: 5px 0 30px;
        &__top{
            padding: 30px 20px;
            .date{
                padding-top: 20px;
            }
            .price{
                padding-top: 20px;
            }
            .right{
                text-align: left;
            }
        }
    }
    .confirmation__main--mobile{
        padding: 60px 20px;
    }
    .dates__item .confirm{
        padding: 20px;
    }
    .dates__confirm{
        max-width: 320px;
        width: 100%;
        margin-right: 0;
    }
    .buttons{
        margin-top: 20px;
    }
    .dates__cancel{
        max-width: 320px;
        width: 100%;
        margin-left: 0;
        text-align: center;
        padding: 20px 0;
    }
    .nav-primary{
        .nav-light__links.active{
            display: flex;
            border-bottom: none;
            color: $primary;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                width: 6px;
                height: 6px;
                background: url('/images/arrow.svg') center no-repeat;
                background-size: contain;
                transform: translateY(-50%);
                transition: .2s all ease-out;
            }
        }
        .nav-light__links:not(.active){
            display: none;
        }
        .open{
            .active{
                &::after{
                    transform: translateY(-50%) rotate(-180deg) !important;
                }
            }
            .nav-light__links{
                display: flex;
            }
        }
        .nav-light__links{
            font-weight: 500;
            font-size: 15px;
        }
    }
}
.py-0{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
@media (max-width:576px) {
    .blue-block {
        background: $primary;
    }
    .other{
        padding-bottom: 30px;
        & .main-title{
            padding-left: 20px;
        }
        &__block {
            justify-content: center !important;
            .item{
                width: 100%;
                height: 240px;
                margin-bottom: 0;
                padding: 20px;
                & .left{
                    flex: 3;
                }
                & .right{
                    flex: 2;
                    & .price{
                        font-size: 13px;
                        text-align: right;
                    }
                }
            }
        }
        & .more{
            & button{
                width: 300px;
            }
        }
    }
}
