.reservation{
    padding-top: 30px;
    background: #F0F5FF;
    .white-box{
        background: #ffffff;
        box-shadow: 0 0 50px rgba(0, 35, 109, 0.07);
        .title{
            color: $primary;
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 30px;
            &-line{
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    left: -20px;
                    bottom: -20px;
                    width: 120%;
                    height: 1px;
                    background: #EAEEF4;
                }
            }
            &-text{
                padding-left: 10px;
            }
        }
    }
    &__complete{
        color: #202020;
        font-weight: 500;
        font-size: 15px;
        line-height: 160%;
        margin: 30px 0;
        &-md{
            display: none;
        }
    }
    &__checkout{
        padding: 30px;
        color: #202020;
        overflow: hidden;
        & .head-title{
            padding-left: 10px;
            color: $primary;
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
        }
        & .btn{
            background: $primary;
            color: #43F2ED;
            border-radius: 100px;
            min-width: 300px;
            height: 42px;
            display: inline-block;
            line-height: 42px;
            margin-bottom: 30px;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                bottom: -30px;
                left: -50px;
                height: 1px;
                background: #F2F5FA;
                width: 180%;
            }
        }
        & .box{
            padding-top: 30px;
        }
        & .payment{
            padding-top: 20px;
            &__item:not(:first-child){
                margin-left: 20px;
            }
        }
        & .price-info{
            & .price {
                font-weight: bold;
                font-size: 24px;
                padding: 20px 0;
            }
            & .description{
                color: #444444;
                font-size: 15px;
                line-height: 160%;
            }
        }
        & .check{
            padding-bottom: 20px;
            & .left{
                color: $primary;
                font-weight: 600;
                font-size: 16px;
            }
            & .right{
                font-weight: 500;
                font-size: 16px;
            }
        }
        & .top{
            padding-bottom: 30px;
        }
        & .item{
            padding-bottom: 30px;
            &:last-child{
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: -50px;
                    height: 1px;
                    background: #F2F5FA;
                    width: 180%;
                }
            }
            & .name{
                max-width: 200px;
                font-weight: bold;
                line-height: 22px;
                padding-bottom: 5px;
            }
            & .count{
                color: $primary;
                font-weight: 500;
                font-size: 16px;
            }
            & .price{
                font-weight: 500;
                font-size: 16px;
            }
        }
    }
    &__button{
        background: $primary;
        color: #43F2ED;
        border-radius: 100px;
        min-width: 330px;
        height: 46px;
        display: inline-block;
        line-height: 46px;
        margin-bottom: 80px;
    }
    &__box{
        margin-top: 30px;
        padding: 30px;
        & .input{
            color: #202020;
            margin-bottom: 30px;
            & label{
                font-size: 15px;
                margin-bottom: 10px;
                display: inline-block;
            }
            & .addition{
                margin-top: 10px;
                font-size: 12px;
            }
            & input{
                outline: none;
                display: block;
                width: 100%;
                max-width: 690px;
                padding: 10px;
                font-size: 15px;
                font-weight: 500;
                border-radius: 5px;
                color: #202020;
                border: 1px solid #D4E2F5;
            }
            &-text{
                flex: 1;
                max-width: 690px;
            }
            &-tel{
                position: relative;
                color: $primary;

                & svg{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 10px;
                }
                & #phone{
                    color: $primary;
                    padding-left: 38px;
                }
            }
        }
    }
    &__item{
        position: relative;
        & .remove{
            position: absolute;
            cursor: pointer;
            right: 20px;
            top: 20px;
        }
        & .input{
            margin-bottom: 0;
        }
    }
    &__info{
        & > .left{
            min-height: 240px;
            img{
                max-width: 360px;
                height: 100%;
                display: block;
                max-height: 240px;
                object-fit: cover;
            }
        }
        & > .right{
            padding: 30px;
            .title{
                color: $primary;
                font-weight: 800;
                font-size: 28px;
                line-height: 38px;
            }
            .address{
                color: #202020;
                font-weight: 300;
                font-size: 14px;
                line-height: 170%;
                padding-left: 10px;
                width: 200px;
                max-width: 195px;
                min-height: 46px;
            }
            .rating{
                color: $primary;
                font-weight: 600;
                font-size: 18px;
            }
            .star{
                color: #FFDA2D;
                font-size: 16px;
                padding-right: 10px;
            }
        }
    }
}
