.filter{
    width: 100%;
    max-width: 760px;
    background: #ffffff;
    margin: 0 auto;
    position: relative;
    padding: 50px;
    &__button{
        background: #43F4EE;
        color: $primary;
        padding: 10px 0;
        width: 100%;
        border-radius: 100px;
        text-align: center;
        font-weight: 600;
        .text{
            padding-left: 10px;
        }
    }
    &-padding{
        padding-top: 50px;
    }
    &__label{
        .text{
            padding-left: 10px;
            color: $primary;
            font-weight: 500;
        }
    }
    &__block{
        padding-top: 40px;
        .title{
            color: #202020;
            font-size: 16px;
            font-weight: 600;
            padding-bottom: 20px;
        }
        .checkboxes{
            input{
                display: none;
                width: 0;
                height: 0;
            }
            & label {
                position: relative;
                cursor: pointer;
                font-size: 15px;
                color: #404040;
            }
            & label:before {
                content:'';
                -webkit-appearance: none;
                background-color: white;
                border: 1px solid #D4E2F5;
                border-radius: 3px;
                width: 16px;
                height: 16px;
                display: inline-block;
                position: relative;
                vertical-align: middle;
                cursor: pointer;
                margin-right: 10px;
            }
            & input:checked + label:before{
                background-color: $primary;
                border-color: $primary;
            }
            & input:checked + label:after {
                content: '';
                display: block;
                position: absolute;
                width: 10px;
                height: 10px;
                top: 7px;
                left: 3px;
                background: url("/images/check.svg") center no-repeat;
            }
        }
    }
    &__choice{
        padding: 50px 0;
        border-bottom: 1px solid #F0F5FC;
         .item {
            width: 150px;
            height: 150px;
            cursor: pointer;
            position: relative;
            z-index: 1;
            border-radius: 10px;
        }
         .item:hover label {
          background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(244, 67, 138, 0)), to(#F4438A));
          background: linear-gradient(180deg, rgba(244, 67, 138, 0) 50%, #F4438A 100%);
        }
         .item:hover label span {
          background-color: #fff;
          color: #00236D;
        }
         .item input {
          -webkit-appearance: none;
             -moz-appearance: none;
                  appearance: none;
        }
         .item input:checked + label {
          background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(244, 67, 138, 0)), to(#F4438A));
          background: linear-gradient(180deg, rgba(244, 67, 138, 0) 50%, #F4438A 100%);
        }
         .item input:checked + label span {
          background-color: #fff;
          color: #00236D;
        }
         .item img {
          width: 100%;
          height: 100%;
            border-radius: 10px;
          -o-object-fit: cover;
             object-fit: cover;
            }
         .item span {
          position: absolute;
          bottom: 15px;
          left: 0;
          right: 0;
          margin: 0 auto;
          padding: 8px 15px;
          color: #fff;
          font-size: 15px;
         font-weight: 500;
          width: fit-content;
          border-radius: 100px;
          -webkit-transition: 0.2s;
          transition: 0.2s;
        }
         .item label {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          -webkit-transition: 0.2s;
          transition: 0.2s;
          border-radius: 10px;
          background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 35, 109, 0)), to(#00236D));
          background: linear-gradient(180deg, rgba(0, 35, 109, 0) 50%, #00236D 100%);
          cursor: pointer;
        }
    }
    &__bottom{
        padding: 50px 0;
    }
    &__apply{
        .button{
            background: $primary;
            color: #43F4EE;
            height: 46px;
            width: 228px;
            border-radius: 100px;
            margin-right: 30px;
        }
        .clear{
            .text{
                color: $primary;
                font-size: 16px;
                padding-left: 10px;
            }
        }
    }
}
